name: "Valar CI"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  docs:
       runs-on: ubuntu-latest
       steps:
       - name: Checkout code
         uses: actions/checkout@v3
         
       - name: Build and deploy docs
         run: echo "Building and deploying docs"